<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/Citibank-logo-2.jpg" alt="Logo" width="96" class="d-inline-block align-text-top">
    </a>
    <a
    *ngIf="!router.url.includes('/manage-leaves')"
    routerLink="/manage-leaves"
    routerLinkActive="true"
    class="text-light">Manager dashboard</a>
    <a routerLink="/user-home"
    *ngIf="router.url.includes('/manage-leaves')"
    routerLinkActive="true"
    class="text-light">User dashboard</a>
  </div>
</nav>
<router-outlet></router-outlet>